.contact {
    /* border: 3px solid green; */
    padding: 50px 100px;
    display: flex;
    gap: 50px;
}

@media screen and (max-width: 600px) {
    .Contact {
        flex-direction: column;
        padding: 50px 20px;
    }

    .Contact-text {
    order: 1;
    }

}