.Header {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    position: relative;
    height: 20vh;
}

.logo {
    width: 100px;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-item {
    text-decoration: none;
    color: #A05;
    font-weight: bold;
}

.nav-item:hover {
    color: blue;
}

.mobile-icon {
    display: none;
    cursor: pointer;
}


/* TABLET VERSION */

/* MOBILE VERSION */
@media screen and (max-width: 600px) {
    .Header {
        padding: 0 20px;
    }

    .mobile-icon {
        display: block;
    }

    .nav-menu {
        /* border: 2px solid green; */
        flex-direction: column;
        position: absolute;
        right: 1000px;
        top: 100px;
        width: 100vw;
        height: 100vh;
        align-items: flex-end;
        padding: 10px 20px;
        background-color: #A05;
        z-index: 900;
        transition: right 1s;
    }

    .show {
        right: 0;
    }

    .nav-item {
        color: #fff;
    }
}