.intro {
    /* border: 3px solid green; */
    padding: 50px 100px;
    display: flex;
    gap: 50px;
}

@media screen and (max-width: 600px) {
    .intro {
        flex-direction: column;
        padding: 50px 20px;
    }

    .intro-image {
        order: 0;
    }
    .intro-text {
        order: 1;
    }
}